<p>I love my cat, but I want him to stop waking me up every day at 4 am. I am a software engineer with lots of big ideas and
	 a lot of little distractions. I can't keep up with all of my ideas for the most part and end up jumping around between projects
	 quite often. I love making lattes in the morning. I love eating fresh bread - so I tolerate baking it. At work I tend to focus on
   spatial computing, IoT, and Data Visualization. I also have a strong interest in Machine Learning and procedural generation.
</p>
<p>I've dabbled into a lot of different ways to express myself and I hope to use this website as a place to showcase everything on my mind.</p>
<small>My name is Gavin and this is Roswell</small>
