<form>
  <div class="input-group mb-3 input-group-sm">
     <div class="input-group-prepend">
       <span class="input-group-text clickable" onclick="">Search</span>
    </div>
    <input id="search-text" type="text" class="form-control" placeholder="Find an experiment">
  </div>
</form>
