<html>
  <head>
    <%include block/Header.ejs %>
  </head>
  <body>

      <div class="jumbotron hero-image">
        <div class="container" id="header-bar">
        <h1>Object Disoriented Design</h1>
      </div>
    </div>
  <div class="container">
          <h2 class="articleTitle"><%-post.title%></h2>

      <div class="articleText">
        <%-post.longTxt%>

      </div>
      <div class="">
        <p>Last updated: <%-post.date%></p>
      </div>
    </div>

    <div class="container">
      <h3>Read more . . . </h3>
      <div class="card-columns content">
        <%console.log(Object.keys(posts)); Object.keys(posts).forEach(function(keys){ %>
            <%- include('block/card', {post: posts[keys]}); %>
        <% }); %>
      </div>
    </div>

  </div>
  </body>
</html>
